In [1]:
import requests
import lxml.html as lh
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re

In [2]:
url = 'http://www.flickchart.com/Charts.aspx?perpage=250&view=list'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
doc = lh.fromstring(response.content)
tr_elements = doc.xpath('//tr')

In [3]:
tr_elements = doc.xpath('//tr')

col = []
i=0

for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"GlobalRanking"
2:"Movie Title"
3:"ReleaseYear"
4:"Director"
5:"MPAARating"
6:"YourRanking"

In [4]:
for j in range(1,len(tr_elements)):
    T=tr_elements[j]
    i=0
    for t in T.iterchildren():
        data=t.text_content() 
        if i>0:
            try:
                data=int(data)
            except:
                pass
        col[i][1].append(data)
        i+=1

In [5]:
Dict={title:column for (title,column) in col}
flick_df=pd.DataFrame(Dict)

In [28]:
flick_df.head(5)

,GlobalRanking,Movie Title,ReleaseYear,Director,MPAARating,YourRanking
0,1,Star Wars,1977,George Lucas,PG,-
1,2,The Empire Strikes Back,1980,Irvin Kershner,PG,-
2,3,The Godfather,1972,Francis Ford Coppola,R,-
3,4,Raiders of the Lost Ark,1981,Steven Spielberg,PG,-
4,5,The Shawshank Redemption,1994,Frank Darabont,R,-

In [31]:
flick_df.to_csv('Flick.csv', index=False)